.app--section--header
    .grid-33
        .app--section--heading
            h2 Timeline
    .grid-33
        .app--section--heading
            h2 Following
            strong #{reqUser.friends_count}
    .grid-33
        .app--section--heading
            h2 Direct Messages
            