doctype html
html(lang="en")
    //  Note to self: retain an indentation pattern as though you were merging the files together
    include ./partials/_head.pug
    body
        include ./partials/_nav.pug
        block content

