extends layout

block main
    .app--tweet
        form#tweet-form(method='post' action='/')
            .circle--fluid
                .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
                    .app--avatar(style=`background-image: url(${reqUser.profile_image_url})`)
                        img(src=`${reqUser.profile_image_url}`)
                    input#tweet-box.circle--textarea--input(placeholder='What\'s happening?', type='text',name='tweetText')
                    strong#tweet-char.app--tweet--char 140
                .circle--fluid--cell.align-bottom
                    button(type='submit')#tweeter.button.button-primary Tweet
    .bounds.app--body
        include includes/_bodyHeader
        .grid-33
            include includes/_tweets
        .grid-33
            include includes/_friends
        .grid-33
            include includes/_messages