doctype html
html(lang="en")
    include includes/_head.pug
    body
        include includes/_banner.pug
        block main
            
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src='/static/javascripts/custom.js')