head  
        // BASIC
        meta(charset="utf-8")
        title Twitter Client
        meta(name="description" content="Twitter API Interface")
        meta(name="author" content="theHawk")
        
        // MOBILE
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        // FONTS
        link (href='https://fonts.googleapis.com/css?family=Play+Sans:400,600' rel='stylesheet' type='text/css')
        
        // CSS
        link(rel="stylesheet" href="css/global.css")
