extends ./layout

block main
     .bounds.app--body
        include ./partials/_bodyHeader.pug
        .grid-33
            include partials/_tweets
        .grid-33
            include ./partials/_following.pug
        .grid-33
            include ./partials/_directMessages.pug
    .app--tweet
        include partials/_footer.pug
