.app--section--header
    .grid-33
        .app--section--heading
            h2 Timeline
    .grid-33
        .app--section--heading
            h2 Following
            strong `{local variable of count of following}`
    .grid-33
        .app--section--heading
            h2 Direct Messages
            